  <div class='house-contents'>
    <%= link_to '掲載物件一覧', new_house_path, class: "subtitle" %>
      <ul class='house-lists'>
        <% @houses.each do |house| %>
          <li class='list'>
            <%= link_to house_path(house.id)  do %>
            <div class='house-img-content'>
              <%= image_tag house.images[0], class: "house-img"  %>
            </div>
            <div class='house-info'>
              <h3 class='house-title'>
                <%= house.title%>
              </h3>
                <span class = 'house-address'><%= house.prefecture.name %><%= house.city %></span>
                <span class='house-price'><%= house.price %>円/一泊(税込み)</span>
                <%# <div class='star-btn'> %>
                  <%# <%= image_tag "star.png", class:"star-icon" %> 
                  <%# <span class='star-count'>0</span> %>
                <%# </div> %>
                <%= link_to '商品の編集', edit_house_path, method: :get, class: "item-red-btn" %>
                <%= link_to '削除', house_path(house.id), method: :delete, class:'item-destroy' %>
            </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>