<div class= top>
 <header class= "top-page-header">
  <div class= 'nav'>
   <%= link_to 'Tomallo', "/", class: "title" %>
   <ul class='lists-right'>
      <% if user_signed_in?  %> 

       <li><%= link_to 'マイページ', user_path(current_user), class: "user-nickname" %></li>   
       <li><%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else   %>
       <li><%= link_to 'ログイン', new_user_session_path, class: "login"%></li>
       <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li> 
      <% end %>  
   </ul>
  </div>
 </header>
 
  <div class='title-contents'>
    <p class='service-title'>
      掲載件数NO.1
    </p>
    <p class='catch-copy'>
      お宿探しは
    </p>
    <p class='catch-copy'>
    Tomalloにお任せ！
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  
  <%# <div class='search-form'>
    <%= form_with url: houses_search_path, method: :get, local: true do |f| %>
    <%# <%= f.text_field :エリアで検索, class: 'input-box' %> 
    <%# <%= f.submit :検索 %> 
    <%# <%end%> 
  <%# </div>  %>
<%= search_form_for @q do |f|%>
 <div class = 'search-form'>
  <%= f.search_field :title_cont, class:'input-box', placeholder: 'キーワードから探す'%>
  <%= f.submit :検索, class:'search-button' %>
 </div>
<% end %>
</div>

<%# エリアから探す %>
<div class= 'search-head' >
  <h2 class='search-title'>エリアから探す</h2>
</div>
<ul class='area-search-list'>
  <li class='area-name'>東京</li>
  <li class='area-name'>神奈川</li>
  <li class='area-name'>埼玉</li>
  <li class='area-name'>千葉</li>
</ul>
<%# /エリアから探す %>

<%# 宿のタイプから探す %>
<div class= 'search-head' >
  <h2 class='search-title'>宿のタイプから探す</h2>
</div>
<div class= 'type-list'>
<p class='house-type'>戸建て</p>
  <ul class='type-search-head'>
   <li class='type-detail'>一軒家</li>
   <li class='type-detail'>タウンハウス（町家・長屋）</li>
   <li class='type-detail'>ペンション</li>
   <li class='type-detail'>ログハウス</li>
   <li class='type-detail'>ドームハウス</li>
   <li class='type-detail'>コテージ</li>
   <li class='type-detail'>バンガロー</li>
   <li class='type-detail'>古民家</li>
  </ul>
  <p class='house-type'>マンション・アパート</p>
  <ul class='type-search-head'>
   <li class='type-detail'>マンション&アパート</li>
   <li class='type-detail'>コンドミニアム</li>
   <li class='type-detail'>サービスアパートメント</li>
   <li class='type-detail'>ロフト</li>
  </ul>
  <p class='house-type'>ホテル</p>
  <ul class='type-search-head'>
   <li class='type-detail'>デザイナーズホテル</li>
   <li class='type-detail'>ロッジ</li>
   <li class='type-detail'>ゲストハウス</li>
   <li class='type-detail'>アパートホテル</li>
   <li class='type-detail'>リゾートホテル・別荘</li>
  </ul>
</div>
<%# /宿のタイプから探す %>

<%# 宿一覧  %>
<div class='house-contents'>
  <%= link_to '新着物件情報', new_house_path, class: "subtitle" %>
    <ul class='house-lists'>
      <% @houses.each do |house| %>
        <li class='list'>
          <%= link_to house_path(house.id)  do %>
          <div class='house-img-content'>
            <%= image_tag house.images[0], class: "house-img"  %>
          </div>
          <div class='house-info'>
            <h3 class='house-title'>
              <%= house.title%>
            </h3>
            <div class='house-price'>
              <span><%= house.price %>円/一泊<br>(税込み)</span>
              <%# <div class='star-btn'> %>
                <%# <%= image_tag "star.png", class:"star-icon" %> 
                <%# <span class='star-count'>0</span> %>
              <%# </div> %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
<%# /宿一覧  %>



