<%= render "shared/header" %>

<%# 宿の概要 %>
<div class="house-show">
  <div class="house-box">
    <div class='house-img-content'>
      <%= image_tag @house.images[0], class:"house-box-img" %>
    </div>
     <h2 class="name">
      <%= @house.title%>
    </h2>
    <div class="house-price-box">
      <span class="house-price">
        <%= @house.price %> 円/泊（税込）
      </span>
    </div>
    <% if user_signed_in?  %>
      <%if current_user.id == @house.user_id   %>
        <%= link_to '商品の編集', edit_house_path, method: :get, class: "house-red-btn" %>
        <%= link_to '削除', house_path(@house.id), method: :delete, class:'house-destroy' %>
      <% else %>
        <%= link_to '購入画面に進む', "#", class:"house-red-btn" %>
      <%end %>
    <%end%>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail">ホスト</th>
          <td class="detail-value"><%= @house.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail">物件概要</th>
          <td class="detail-value"><%= @house.description %></td>
        </tr>
        <tr>
          <th class="detail">ロケーション</th>
          <td class="detail-value">
          <%= @house.location %>
          <script type="text/javascript">
            function initMap() {
          // latitude,longitudeから位置を特定
              var test ={lat: <%= @house.latitude %>, lng: <%= @house.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15, 
                        center: test
                        });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);

              var contentString = '住所：<%= @house.city %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

          //  #Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                            position:test,
                            map: map,
                            title: contentString
                          });

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>

          <%# #以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください %>
          <script async defer
                        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
          </script>
          <%# #表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 %>
          <style type="text/css">
            #map { height: 200px;
                  width: 70%;}
          </style>
          <div id="map"></div>
        </tr>
        <tr>
          <th class="detail">チェックイン</th>
          <td class="detail-value"><%= @house.checkin %>以降</td>
        </tr>
        <tr>
          <th class="detail">チェックアウト</th>
          <td class="detail-value"><%= @house.checkout %>まで</td>
        </tr>
        <tr>
          <th class="detail">建物カテゴリー</th>
          <td class="detail-value"><%= @house.house_category.name %></td>
        </tr>
        <tr>
          <th class="detail">ルームタイプ</th>
          <td class="detail-value"><%= @house.room_type.name %></td>
        </tr>
      </tbody>
  </div>
</div>

   


