


<div class = 'resttop-search'>
  <section class = 'rsttop-search__main-column' >
    <div class = 'rsttop-area-search js-area-swicher-wrap'>
      <section class = 'rsttop-area-search__main js-area-swicher-main-wrap' >
        <div class = 'rsttop-search__heading'>
          <h2 class = 'rsttop-heading1 rsttop-search__title'>
            都道府県から探す
          </h2>
        </div>
        <div class = 'rsttop-area-search__pref-container'>
          <div class = 'rsttop-area-search__pref-column'>
            <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4', class:'prefecture-name'%>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5', class:'prefecture-name'%>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                中部
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '愛知', '/houses/prefecture/24', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岐阜', '/houses/prefecture/22', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '静岡', '/houses/prefecture/23', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '三重', '/houses/prefecture/25', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '新潟', '/houses/prefecture/16', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山梨', '/houses/prefecture/20', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '長野', '/houses/prefecture/21', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '石川', '/houses/prefecture/18', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '富山', '/houses/prefecture/17', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福井', '/houses/prefecture/19', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                中国・四国
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岡山', '/houses/prefecture/34', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '広島', '/houses/prefecture/35', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '鳥取', '/houses/prefecture/32', class:'prefecture-name'%>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '島根', '/houses/prefecture/33', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山口', '/houses/prefecture/36', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '香川', '/houses/prefecture/38', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '徳島', '/houses/prefecture/37', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '愛媛', '/houses/prefecture/39', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '高知', '/houses/prefecture/40', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class = 'rsttop-area-search__pref-column--right'>
            <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                関東
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '東京', '/houses/prefecture/14', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '神奈川', '/houses/prefecture/15', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '埼玉', '/houses/prefecture/12', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '千葉', '/houses/prefecture/13', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '群馬', '/houses/prefecture/11', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '栃木', '/houses/prefecture/10', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '茨城', '/houses/prefecture/9', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                関西
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '大阪', '/houses/prefecture/28', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '兵庫', '/houses/prefecture/29', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '京都', '/houses/prefecture/27', class:'prefecture-name'%>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '滋賀', '/houses/prefecture/26', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '奈良', '/houses/prefecture/30', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '和歌山', '/houses/prefecture/31', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                九州・沖縄
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福岡', '/houses/prefecture/41', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '佐賀', '/houses/prefecture/42', class:'prefecture-name'%>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '大分', '/houses/prefecture/45', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '長崎', '/houses/prefecture/43', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '熊本', '/houses/prefecture/44', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮崎', '/houses/prefecture/46', class:'prefecture-name' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '鹿児島', '/houses/prefecture/47', class:'prefecture-name' %>
                  </li>
                   <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '沖縄', '/houses/prefecture/48', class:'prefecture-name' %>
                  </li>
                </ul>
              </dd>
            </dl>

          </div>
        </div>
      </section>
    </div>
    <section class = 'rsttop-othersearch.rsttop-othersearch--genre'>
      <div class = 'rsttop-search__heading'>
       <h2 class = 'rsttop-heading1'>
            宿のタイプから探す
       </h2>
      </div>
       <div class= 'type-list'>
        <dl class = 'rsttop-area-search__pref-set'>
          <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
              戸建て
          </dt>
            <ul class='type-search-head'>
              <li class='type-detail'>一軒家</li>
              <li class='type-detail'>タウンハウス（町家・長屋）</li>
              <li class='type-detail'>ペンション</li>
              <li class='type-detail'>ログハウス</li>
              <li class='type-detail'>ドームハウス</li>
              <li class='type-detail'>コテージ</li>
              <li class='type-detail'>バンガロー</li>
              <li class='type-detail'>古民家</li>
            </ul>
        </dl>
        <dl class = 'rsttop-area-search__pref-set'>
          <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
              マンション・アパート
          </dt>
            <ul class='type-search-head'>
              <li class='type-detail'>マンション&アパート</li>
              <li class='type-detail'>コンドミニアム</li>
              <li class='type-detail'>サービスアパートメント</li>
              <li class='type-detail'>ロフト</li>
            </ul>
        </dl>
        <dl class = 'rsttop-area-search__pref-set'>
          <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                ホテル
          </dt>
            <ul class='type-search-head'>
              <li class='type-detail'>デザイナーズホテル</li>
              <li class='type-detail'>ロッジ</li>
              <li class='type-detail'>ゲストハウス</li>
              <li class='type-detail'>アパートホテル</li>
              <li class='type-detail'>リゾートホテル・別荘</li>
            </ul>
        </dl>
      </div>
    </section>
  </section>
</div>