


<div class = 'resttop-search'>
  <section class = 'rsttop-search__main-column' >
    <div class = 'rsttop-area-search js-area-swicher-wrap'>
      <section class = 'rsttop-area-search__main js-area-swicher-main-wrap' >
        <div class = 'rsttop-search__heading'>
          <h2 class = 'rsttop-heading1 rsttop-search__title'>
            都道府県から探す
          </h2>
        </div>
        <div class = 'rsttop-area-search__pref-container'>
          <div class = 'rsttop-area-search__pref-column'>
            <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class = 'rsttop-area-search__pref-column.rsttop-area-search__pref-column--right'>
            <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>
             <dl class = 'rsttop-area-search__pref-set'>
              <dt class= 'rsttop-area-search__pref-title.rsttop-area-search__pref-title--first'>
                北海道・東北
              </dt>
              <dd class = 'rsttop-area-search__pref-list-wrap' >
                <ul class = 'rsttop-area-search__pref-list'>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '北海道', '/houses/prefecture/2' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '青森', '/houses/prefecture/3' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '秋田', '/houses/prefecture/4' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '山形', '/houses/prefecture/5' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '岩手', '/houses/prefecture/6' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '宮城', '/houses/prefecture/7' %>
                  </li>
                  <li class = 'rsttop-area-search__pref-list-item'>
                    <%= link_to '福島', '/houses/prefecture/8' %>
                  </li>
                </ul>
              </dd>
            </dl>

          </div>


        </div>

      </section>
    </div>
    <section class = 'rsttop-othersearch.rsttop-othersearch--genre'>
       <h2 class = 'rsttop-heading1'>
            宿のタイプから探す
       </h2>
       <div class= 'type-list'>
          <p class='house-type'>戸建て</p>
            <ul class='type-search-head'>
              <li class='type-detail'>一軒家</li>
              <li class='type-detail'>タウンハウス（町家・長屋）</li>
              <li class='type-detail'>ペンション</li>
              <li class='type-detail'>ログハウス</li>
              <li class='type-detail'>ドームハウス</li>
              <li class='type-detail'>コテージ</li>
              <li class='type-detail'>バンガロー</li>
              <li class='type-detail'>古民家</li>
            </ul>
          <p class='house-type'>マンション・アパート</p>
            <ul class='type-search-head'>
              <li class='type-detail'>マンション&アパート</li>
              <li class='type-detail'>コンドミニアム</li>
              <li class='type-detail'>サービスアパートメント</li>
              <li class='type-detail'>ロフト</li>
            </ul>
          <p class='house-type'>ホテル</p>
            <ul class='type-search-head'>
              <li class='type-detail'>デザイナーズホテル</li>
              <li class='type-detail'>ロッジ</li>
              <li class='type-detail'>ゲストハウス</li>
              <li class='type-detail'>アパートホテル</li>
              <li class='type-detail'>リゾートホテル・別荘</li>
            </ul>
      </div>
    </section>
  </section>
</div>