<%= render "shared/header" %>

<div class='house-contents'>
    <div class='search-form'>
      <%= form_with url:pages_search_path, method: :get, local: true do  %> 
      <%= text_field_tag :search, params[:search], class: 'input-box', placeholder: 'エリアから探す (例)港区、横浜市緑区' %>
      <%= submit_tag '検索' , class: 'search-button' %>
      <% end %> 
    </div>

    <ul class='house-lists'>
      <% @search.each do |house| %>
        <li class='list'>
          <%= link_to house_path(house.id)  do %>
          <div class='house-img-content'>
            <%= image_tag house.images[0], class: "house-img"  %>
          </div>
          <div class='house-info'>
            <h3 class='house-title'>
              <%= house.title%>
            </h3>
              <span class = 'house-address'><%= house.prefecture.name %><%= house.city %> </span>
              <span class='house-price'><%= house.price %>円/一泊(税込み)</span>
              <%# <div class='star-btn'> %>
                <%# <%= image_tag "star.png", class:"star-icon" %> 
                <%# <span class='star-count'>0</span> %>
              <%# </div> %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
